<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.todo.calendar.CalendarMapper">
    <insert id="createCalendar" useGeneratedKeys="true" keyProperty="calendarId">
        INSERT INTO calendar
        SET user_id = #{signedUserId},
            title = #{title},
            color = #{color}
    </insert>

    <insert id="plusCalendarUserById">
        INSERT INTO calendar_user
        (calendar_id, user_id)
        VALUES
        (#{calendarId}, #{signedUserId})
    </insert>

    <select id="getUserIdByEmail">
        SELECT user_id AS userId, name
        FROM user
        WHERE email = #{userEmail}
    </select>

    <select id="getCalendarList">
        SELECT  A.calendar_id AS calendarId, A.user_id AS userId, C.name AS name, A.title, A.color, A.created_at AS createdAt, A.updated_at AS updatedAt
        FROM calendar A
        JOIN calendar_user B ON A.calendar_id = B.calendar_id
        JOIN user C ON A.user_id = C.user_id
        WHERE B.user_id = #{signedUserId}
    </select>

    <select id="getMemberList">
        SELECT A.user_id AS userId, B.name, B.email
        FROM calendar_user A
        JOIN user B ON A.user_id = B.user_id
        WHERE calendar_id = #{calendarId} AND A.user_id != #{signedUserIdLong}
    </select>

    <update id="updateCalendar">
        UPDATE calendar
        <set>
            <if test="title != null">
                title = #{title}
            </if>
            <if test="color != null">
                , color = #{color}
            </if>
        </set>
        WHERE calendar_id = #{calendarId}
    </update>

    <delete id="deleteCalendar">
        DELETE FROM calendar_user
        WHERE user_id = #{signedUserId} AND calendar_id = #{calendarId}
    </delete>

    <delete id="deleteCalendarPermanent">
        DELETE FROM calendar
        WHERE calendar_id = #{calendarId} AND NOT EXISTS (
        SELECT 1 FROM calendar_user WHERE calendar_id = #{calendarId}
        )
    </delete>

    <delete id="deleteCalendarMember">
        DELETE FROM calendar_user
        WHERE calendar_id = #{calendarId}
        AND user_id = #{userId}
        AND EXISTS (
            SELECT 1 FROM calendar
            WHERE calendar_id = #{calendarId}
            AND user_id = #{signedUserId}
        )
    </delete>

    <select id="selecteCalendar">
        SELECT user_id
        FROM calendar
        WHERE calendar_id = #{calendarId}
    </select>
</mapper>